<%= render "shared/header" %>
<div class="main">
  <div id="top-wrapper">
    <div class="left-container">
      <h1>健康に暮らせる家・永く愛着がもてる家</h1>
      <h2>プロの大工から見た監理・設計・施工でお客様の夢をカタチに。</h2>
    </div>
  </div>
  <div class ="main-wrapper">
    <div class="first-container">
      <%= image_tag "image07.png", class:"pict1" %>
      <h4>毎日くらす場所だから、<br>いつも、すこやかに、ここちよく過ごしたい。<br>家族の健康を考えて自然素材をできるだけ...</h4>
      <%= image_tag "image16.png", class:"pict2"%>
      <%= image_tag "image14.png", class:"pict3"%>
    </div>
    <div class="second-container">
      <h5>外断熱パネル工法、アルミ箔が 熱を跳ね返し家全体を保温。<br>床暖房も空気の熱を使ったヒートポンプ式を採用。<br>ダイニングにはテラコッタ調のタイル張りホール、廊下にも真っ白なタイル床暖房ですから夏は涼しく、冬暖かい。</h5>
        <%= image_tag "image15.png", class:"pict4"%>
        <%= image_tag "image21.png", class:"pict5"%>
        <%= image_tag "image22.png", class:"pict6" %>
    </div>  
  </div>
  <div class="contact"></div>
</div>
<footer>
  <div class="footer-logo">篠原工務店</div>
  <div class="footer-container">
  <h1>〒392-0015<br>長野県諏訪市中洲5455-45<br>TEL: 0266-57-5788</h1>
  </div>
  <div class="footer-nav">
    <ul class="footer-lists">
      <li><%= link_to '最新情報',  method: :get, class: "news"%></li>
      <li><%= link_to '施工例',  method: :get, class: "construction"%></li>
      <li><%= link_to '会社案内', informations_show_path, method: :get, class: "information"%></li>
      <li><%= link_to 'お問い合わせ',  method: :get, class: "contact"%></li>
    </ul>
  </div>
</footer>