<header>
  <div class="header-left">
    <a href="/"><i class="far far fa-smile fa-3x"></i></a>
  </div>
  <div class="nav-bar">
    <ul>
      <li><%= link_to '最新情報',posts_path, class: "header-news"%></li>
      <li><%= link_to '施工例', constructions_path,  class: "header-construction"%></li>
      <li><%= link_to '会社案内', abouts_path, class: "header-information"%></li>
      <li><%#= link_to 'お問い合わせ', new_inquiry_path, class: "header-contact"%></li>
    </ul>
  </div>
  <div class="nav">
   <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to destroy_user_session_path, method: :delete, class: "fas" do %>
        <i class="fas fa-lock"></i>
      <% end %> 
    <% else %>
      <a href="/users/sign_in"><i class="fas fa-lock-open fa-1x"></i></a>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
    </ul>
  </div>
</header>