<%= render "shared/header"%> 
<div class="p-wrapper">
  <div class="p-wapper"> 
    <%= form_with url: "/posts", method: :post ,id: "form" do |form| %>
      <% if user_signed_in? && current_user.id %>
        <%= form.text_field :content, id: "content" %>
        <%= form.submit '投稿する' , id: "submit" %>
      <% end %>
    <% end %>
    <div id="list"></div>
    <% @posts.each do |post| %>
    <div class="post" >
      <div class="post-date">
        投稿日時：<%= l post.created_at %>
      </div>
      <div class="post-content">
        <%= post.content %>
      </div>
    </div>
    <% end %>
  </div> 
</div>
<%= render "shared/footer"%>